<div class="wrapper">
  <div class="side-bar">
    <%= render "side_bar" %>
  </div>
  <div class="search">
    <%# 検索フォーム%>
    <%= form_with model: @address, class: 'form', local: true do |f| %>
      <div class="form-input">
        <%= f.text_field :departure, class: 'form-message', placeholder: '出発地' %>
        <%= f.text_field :destination_1, class: 'form-message', placeholder: '目的地1' %>
        <%= f.text_field :destination_2, class: 'form-message', placeholder: '目的地2' %> 
      </div>
      <%# フォーム追加、検索機能は後で実装%>
      <div class="button">
        <div class="add-button">
          <a href="#">+</a>
        </div>
        <%= f.submit '検索', class: 'form-submit' %> 
        <%=link_to 'もどる', root_path, class:"back-btn" %>
     </div>
    <% end %> 
  </div>
</div>









